body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #228B22;
    color: black;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.hero {
    text-align: center;
    padding: 50px;
    background: url('../img/Irrigation.JPEG') no-repeat center center/cover;
    color: rgb(255, 255, 255);
    height: 80%;
}

.hero h1 {
    margin-top: 100px;
    font-size: 36px;
    color: rgb(255, 255, 255);
}
.hero button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FFD700;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.features {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background: #F8F8F8;
}
.feature {
    width: 30%;
    text-align: center;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}
.testimonials {
    text-align: center;
    padding: 50px;
    background: #F0FFF0;
}
.footer {
    text-align: center;
    padding: 20px;
    background-color: #228B22;
    color: white;
}
.hero section p {
    color: black;
}
